.widget {
  max-width: 350px;
  margin-top: 15px;
  padding: 20px;
  border: 1px solid #eee;
  &__title {
    font-size: 25px;
    font-weight: 700;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  &__text {
    display: flex;
    align-items: flex-end;
    flex: none;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
  }
  &__text span {
    padding: 0 15px 0 5px;
  }
  &__text-bg {
    font-size: 36px;
    font-weight: 100;
    margin-right: 8pt;
  }
  &__date {
    color: #eb6e4b;
    font-size: 14px;
  }
  &__accent {
    margin-bottom: 15px;
    font-weight: 700;
  }
  &__accent p {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 15px;
  }
  &__accent p::first-letter {
    text-transform: capitalize;
  }
}

.widget_is-loading {
  margin-top: 45px;
  height: 267px;
  max-width: 350xp;
  box-sizing: border-box;
  &  * {
    animation: pulse-bg 1s infinite;
  }
  .widget__date {
    width: 40%;
    height: 16px;
    margin-bottom: 5px;
  }
  .widget__title {
    width: 60%;
    height: 30px;
    margin-bottom: 5px;
  }
  .widget__header {
    width: 100%;
    height: 85px;
    margin-bottom: 5px;
  }
  .widget__accent {
    width: 70%;
    height: 23px;
  }
  .widget__line {
    width: 50%;
    height: 18px;
  }
  .widget__line:last-child {
    width: 70%;
  }
}

@keyframes pulse-bg {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #eaeaea;
  }
  100% {
    background-color: #eee;
  }
}